---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: providers.kahu.io
spec:
  group: kahu.io
  names:
    kind: Provider
    listKind: ProviderList
    plural: providers
    singular: provider
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.version
      name: Version
      type: string
    - jsonPath: .spec.type
      name: Type
      type: string
    - jsonPath: .status.state
      name: State
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: Provider is the Schema for the Provider
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ProviderSpec defines the specification of provider CRD
            properties:
              flags:
                description: Capabilities is the optional set of provider capabilities
                items:
                  enum:
                  - VOLUME_BACKUP_NEED_SNAPSHOT
                  - VOLUME_BACKUP_NEED_VOLUME
                  type: string
                type: array
              manifest:
                additionalProperties:
                  type: string
                description: Manifest is the optional set of provider specific configurations
                type: object
              supportedProvisioner:
                type: string
              type:
                description: Type is type of the provider getting registered
                enum:
                - MetadataProvider
                - VolumeProvider
                type: string
              version:
                description: Version is version of the provider getting registered
                type: string
            required:
            - type
            - version
            type: object
          status:
            description: ProviderStatus defines the observed state of Provider
            properties:
              message:
                type: string
              state:
                default: Available
                description: 'INSERT ADDITIONAL STATUS FIELD - define observed state
                  of cluster Important: Run "make" to regenerate code after modifying
                  this file'
                enum:
                - Available
                - Unavailable
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
